# OSX
#
.DS_Store

# Xcode
#
fastlane
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/Frameworks/Realm*
ios/Frameworks/panthalassa.framework
ios/Pods

# Android/IntelliJ
#
coverage
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

.env
yarn.lock
src.zip
docs_build
/.eslintrc
pangea*.management
*.hprof

# DO NOT STORE LARGE BINARIES IN GIT. EVER!
*panthalassa.aar

main.jsbundle
main.jsbundle.meta
.project
.classpath
org.eclipse.buildship.core.prefs
android/drawable-mdpi
android/drawable-xhdpi
android/drawable-xxhdpi
android/app/src/main/res/drawable-mdpi/
android/app/src/main/res/drawable-xhdpi/
android/app/src/main/res/drawable-xxhdpi/
android/app/src/main/assets/fonts/

index.android.bundle.meta
index.android.bundle
.vscode

.dev.config.yaml
ios/assets/src/assets
ios/Frameworks/panthalassa.framework
# development app's temp data
data
dev.config.json
src-old-original/
pangea_0_4_5
pangea_0_4_5.lock
lerna-debug.log
